{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ asset('symfony/assets/css/admin_base.css') }}">
<link rel="stylesheet" href="{{ asset('symfony/assets/css/admin_login.css') }}">
<div class="div-base">

    <body class="login">

        <div id="container">

            <div id="header">
                <div id="branding">
                    <h1 id="site-name">
                        <a href="/admin/">Administration</a>
                    </h1>
                </div>
            </div>

            <div id="main" class="main">

                <div class="content">

                    <div id="content" class="colM">

                        {% if error %}
                            <p class="errornote">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </p>
                        {% endif %}

                        <div id="content-main">

                            <form action="{{ path('app_login') }}" method="post">
                                <div class="form-row">
                                    <label for="username" class="required">Email:</label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}">
                                </div>

                                <div class="form-row">
                                    <label for="password" class="required">Password:</label>
                                    <input type="password" id="password" name="_password">
                                </div>

                                <input type="hidden" name="_target_path" value="/admin">

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div class="submit-row">
                                    <button type="submit">Connexion</button>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>

            <div>

        </div>

    </body>

</div>
{% endblock %}
