{% extends 'admin/base_admin.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    <h1>Appointment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ appointment.description }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ appointment.startTime ? appointment.startTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ appointment.endTime ? appointment.endTime|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_appointment_index') }}">back to list</a>

    <a href="{{ path('app_admin_appointment_edit', {'id': appointment.id}) }}">edit</a>

    {{ include('admin_appointment/_delete_form.html.twig') }}
{% endblock %}
