{% extends 'admin/base_admin.html.twig' %}

{% block title %}MedicalFileIllness index{% endblock %}

{% block body %}
    <h1>MedicalFileIllness index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medical_file_illness in medical_file_illnesses %}
            <tr>
                <td>{{ medical_file_illness.id }}</td>
                <td>{{ medical_file_illness.description }}</td>
                <td>
                    <a href="{{ path('app_admin_medical_file_illness_show', {'id': medical_file_illness.id}) }}">show</a>
                    <a href="{{ path('app_admin_medical_file_illness_edit', {'id': medical_file_illness.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_medical_file_illness_new') }}">Create new</a>
{% endblock %}
