{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <h1>Patient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ssn</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Birthdate</th>
                <th>Gender</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.ssn }}</td>
                <td>{{ patient.firstName }}</td>
                <td>{{ patient.lastName }}</td>
                <td>{{ patient.birthdate ? patient.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ patient.gender }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.phoneNumber }}</td>
                <td>
                    <a href="{{ path('app_admin_patient_show', {'id': patient.id}) }}">show</a>
                    <a href="{{ path('app_admin_patient_edit', {'id': patient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_patient_new') }}">Create new</a>
{% endblock %}
