{% extends 'admin/base_admin.html.twig' %}

{% block title %}Block index{% endblock %}

{% block body %}
    <h1>Block index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Floor</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for block in blocks %}
            <tr>
                <td>{{ block.id }}</td>
                <td>{{ block.floor }}</td>
                <td>{{ block.phone }}</td>
                <td>
                    <a href="{{ path('app_admin_block_show', {'id': block.id}) }}">show</a>
                    <a href="{{ path('app_admin_block_edit', {'id': block.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_block_new') }}">Create new</a>
{% endblock %}
