{% extends 'admin/base_admin.html.twig' %}

{% block title %}Prescription index{% endblock %}

{% block body %}
    <h1>Prescription index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prescription in prescriptions %}
            <tr>
                <td>{{ prescription.id }}</td>
                <td>{{ prescription.date ? prescription.date|date('Y-m-d') : '' }}</td>
                <td>{{ prescription.description }}</td>
                <td>
                    <a href="{{ path('app_admin_prescription_show', {'id': prescription.id}) }}">show</a>
                    <a href="{{ path('app_admin_prescription_edit', {'id': prescription.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_prescription_new') }}">Create new</a>
{% endblock %}
