{% extends 'admin/base_admin.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
    <h1>Address index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Street</th>
                <th>City</th>
                <th>ZipCode</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.street }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.zipCode }}</td>
                <td>{{ address.country }}</td>
                <td>
                    <a href="{{ path('app_admin_address_show', {'id': address.id}) }}">show</a>
                    <a href="{{ path('app_admin_address_edit', {'id': address.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_address_new') }}">Create new</a>
{% endblock %}
