{% extends 'base.html.twig' %}

{% block title %}PhysicianSpecialization{% endblock %}

{% block body %}
    <h1>PhysicianSpecialization</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ physician_specialization.id }}</td>
            </tr>
            <tr>
                <th>PrimarySpecialization</th>
                <td>{{ physician_specialization.primarySpecialization ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CertificationDate</th>
                <td>{{ physician_specialization.certificationDate ? physician_specialization.certificationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CertificationExpire</th>
                <td>{{ physician_specialization.certificationExpire ? physician_specialization.certificationExpire|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_physician_specialization_index') }}">back to list</a>

    <a href="{{ path('app_admin_physician_specialization_edit', {'id': physician_specialization.id}) }}">edit</a>

    {{ include('admin_physician_specialization/_delete_form.html.twig') }}
{% endblock %}
