{% extends 'base.html.twig' %}

{% block content %}

    <link rel="stylesheet" href="{{ asset('symfony/assets/css/admin_base.css') }}">
    <link rel="stylesheet" href="{{ asset('symfony/assets/css/admin_form_db.css') }}">

    {{ include('admin/header_admin.html.twig') }}

    {{ include('admin/breadcrumbs_admin.html.twig') }}

    <div id="main" class="main shifted">

        {{ render(path('all_entities') )}}

        <div class="div-base">
            {% block body %}{% endblock %}
        </div>

    </div>

{% endblock %}
