{% extends 'base.html.twig' %}

{% block title %}Medication index{% endblock %}

{% block body %}
    <h1>Medication index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medication in medications %}
            <tr>
                <td>{{ medication.id }}</td>
                <td>{{ medication.name }}</td>
                <td>{{ medication.brand }}</td>
                <td>{{ medication.price }}</td>
                <td>{{ medication.description }}</td>
                <td>
                    <a href="{{ path('app_admin_medication_show', {'id': medication.id}) }}">show</a>
                    <a href="{{ path('app_admin_medication_edit', {'id': medication.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_medication_new') }}">Create new</a>
{% endblock %}
